@{
    Layout = null;
    ViewBag.Title = "Dodaj";
}

<style>
    body {
        background-color: #e0ebeb
    }
    h2 {
        font-family: "Times New Roman", Times, serif;
        color: #0099ff;
    }
</style>
@if (TempData["poruka"] != null)
{
    <h2>@TempData["poruka"]</h2>
}
<a href="~/Trener/PregledGrupnihTreninga" style="color:#0099ff">Nazad</a>